
@{
    ViewBag.Title = "Alumni";
    Layout = "~/Views/Shared/CollegLayout.cshtml";
}

<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:03 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Date Picker Min CSS -->
    <link rel="stylesheet" href="~/assets/css/date-picker.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
</head>

<body>
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-11">
        <div class="container">
            <div class="page-title-content">
                <h2>Alumni</h2>

                <ul>
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>

                    <li class="active">Alumni</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start Campus Experience Area -->
    <section class="campus-experiences-area ptb-100">
        <div class="container">
            <div class="main-default-content">
                <h3>Alumni</h3>

                <h6 style="color: #323232">ANKIT MAHESHWARI</h6>
                <img src="https://www.akgec.ac.in/wp-content/uploads/2021/12/Ankit_Maheshwari.png" alt="no image" />
                <p>
                    Ankit Maheshwari, a 2006-2010 batch CSE student of Ajay Kumar Garg Engineering College, is the Founding Member and currently the President R&D and India Operations at Innovaccer, a Health Tech Unicorn.

                    Ankit started his career as a Software Engineer at Samsung, Noida, and within just 4 months got the best Recruit Award for his amazing performance. In 2011, he moved to Trane/Ingersol Rand and worked as Software Engineer on Futuristic Technologies and was awarded the India President Award for amazing Performance and Innovation at the workplace.

                    In 2014, Ankit with a couple of his colleagues, started the organization Innovaccer and over the last 7 years they have grown the organization from a 4 member team in a basement in Delhi to more than 1000+ people company. Innovaccer recently has become the ﬁrst health-tech Unicorn at the start of 2021. Ankit has been the Head of Engineering for the organization since its inception and has created a world-class Health Tech company abroad. The company has made a huge impact on the lives of millions of people around the world. During the initial phase of the pandemic, it also developed applications for the Govt. of Goa and Govt. of Puducherry to curb the menace of COVID.

                    The product Innovaccer has been termed as leading industry PHM vendor in the latest KLAS “Population Health Vendor Overview 2021” report with the deepest adoption among the new comers. Recently Ankit has also been granted patent for one of his invention “Automatic visual display overlays of contextually related data from multiple applications”. Ankit is presently mentor to a lot many young start-ups as and also speaks on multiple forums.

                    He was recently covered by YourStory Media while sharing his expertise on 'Shaping the Future of Collaboration in a post-COVID-19 world’. He has also shared his expertise and interviews on BusinessToday.in, CNBC TV 18 and others..
                </p>

                <div class="gap-20"></div>

                <h6 style="color: #323232">NEERAJ SRIVASTAVA</h6>
                <img src="https://www.akgec.ac.in/wp-content/uploads/2021/12/Neeraj_Saran.png" alt="no image" />
                <p>
                    Neeraj Srivastava, 2005-2009 B.Tech graduate from Electronics and Communication stream, has been awarded the Distinguished Alumnus Award by Dr. A.P.J. Abdul Kalam Technical University, Lucknow. This is the first time that the University has instituted the award in 2021.

                    Neeraj is the founder of DLT Labs – a name well known in the blockchain space. With the strength of 250+ people globally and offices at multiple locations i.e. Canada, India, Japan, USA and Singapore, DLT Labs has been growing exponentially, well on its path to be the next Billion dollar enterprise. Although, DLT Labs has been in existence since 2012 but in last 3 years they have positioned themselves as the global leader in the blockchain space with the biggest ever implementation on blockchain technology for Walmart, also winning the CSCMP Innovation Award for this product.

                    Besides the above, Neeraj has achieved a patent grant for Relational Data Management and Organization Using DLT in his name and has research paper publications in the field of Blockchain. He is also holding prestigious positions including Member of Forbes Technology Council, Board Member of IBM Blockchain, Blockchain Expert with Bank of Canada & Monetary Authority of Singapore (MAS) and Team Leader at Royal Bank of Canada to launch Apple Pay. Mr. Neeraj and his company are the first to launch EMV based Apple Pay all over the world and to open the world’s first Blockchain Lab at BSE. He is one of the first, across the world, to launch a full blockchain course on Udemy and is an active speaker on technologies across the globe.

                    In addition to his achievements after passing out from the college, Mr. Neeraj had been active in research and development during his tenure in the college as well. He was the founder member of the Software Development Centre established at AKGEC in the year 2008. The centre is engaged in promoting innovative work, project based learning, industrial consultancies and entrepreneurial skills amongst students.
                </p>

                <div class="gap-20"></div>

                <h6 style="color: #323232">ISHU BANSAL</h6>
                <img class="Pot" src="https://www.akgec.ac.in/wp-content/uploads/2022/03/IshuBansal.jpg" alt="no image" />
                <p>
                    Ishu Bansal, Co-founder of TruckSuvidha received the "Best initiative in Online Services Award" by India’s first Woman IPS officer Kiran Bedi at Tech Startups Conclave & Awards 2022 conducted at Le Meridien New Delhi organized in association with Ministry of Electronics and Information Technology.
                </p>
            </div>
    </section>
    <!-- End Campus Experience Area -->
    <!-- End Our Campus Information Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- Jquery Min JS -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="~/assets/js/meanmenu.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Wow Min JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Appear Min JS -->
    <script src="~/assets/js/appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Jarallax Min JS -->
    <script src="~/assets/js/jarallax.min.js"></script>
    <!-- Bootstrap Datepicker Min JS -->
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="~/assets/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/custom.js"></script>
</body>

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:04 GMT -->
</html>

