
@{
    ViewBag.Title = "Campus";
    Layout = "~/Views/Shared/CollegLayout.cshtml";
}


<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:03 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Date Picker Min CSS -->
    <link rel="stylesheet" href="~/assets/css/date-picker.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Favicon -->
</head>
<
<body>
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-8">
        <div class="container">
            <div class="page-title-content">
                <h2>Campus information</h2>

                <ul>
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>

                    <li class="active">Campus information</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start Campus information Area -->
    <section class="campus-information-area ptb-100">
        <div class="container">
            <div class="main-default-content">
                <h3>About our campus</h3>
                <p>Ajay Kumar Garg Engineering College (AKGEC), Ghaziabad, Uttar Pradesh is approved by AICTE and affiliated to Dr. A.P.J. Abdul Kalam Technical University, Lucknow. The college, established in 1998, has six Engineering Departments offering B.Tech. programs in twelve disciplines. The college also offers postgraduate programs in Computer Application (MCA) and M.Tech. in four disciplines. All five major B.Tech. programs are accredited by NBA. The college strives for excellence and has been consistently maintaining excellent academic results and placements. The college has the distinction of being the first and only college in UP to receive the Academic Excellence Award for the Best Engineering College in UPTU (now AKTU) from H.E. the Governor of UP for two successive years. The college has been consistently having a large number of students in university merit lists. The College students have the honor of being awarded the Chancellor's Medal for highest marks across all B.Tech. programs for five consecutive years since the inception of this Award in 2016. The college places special emphasis on collaboration with industries to groom the students for meeting the industry standards. The college has established a number of Centres of Excellence in collaboration with eminent multinational industries. The primary objective of these centres is to provide industry relevant training in inter-disciplinary state-of-art technologies as well as to promote applied research and industrial consultancy. .</p>

                <div class="gap-20"></div>
                <div class="gap-20"></div>

                <h4>Campus facilities</h4>
                <ul>
                    <li>Central Library</li>
                    <li>Laboratories</li>
                    <li>Central Computing Facility</li>
                </ul>
                <ul class="gap-ml-50">
                    <li>Hostels</li>
                    <li>Healthcare Facilities</li>
                    <li>Parking facilities</li>
                </ul>

                <div class="gap-20"></div>

                <h4>Other campus information</h4>
                <ul>
                    <li>Separate canteen in college and each hostel</li>
                    <li>Utility shop in each hostel</li>
                    <li>Stationary shop in the college</li>
                </ul>
                <ul class="gap-ml-50">
                    <li>Gymnasium</li>
                    <li>Indoor and Outdoor Sports Facilities</li>
                    <li>Internet Facility (wi fi)</li>
                </ul>

            </div>
        </div>
    </section>
    <!-- End Campus information Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Min JS -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="assets/js/meanmenu.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Wow Min JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Appear Min JS -->
    <script src="assets/js/appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Jarallax Min JS -->
    <script src="assets/js/jarallax.min.js"></script>
    <!-- Bootstrap Datepicker Min JS -->
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="assets/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
