
@{
    ViewBag.Title = "Feesdetails";
    Layout = "~/Views/Shared/CollegLayout.cshtml";
}

<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:03 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Date Picker Min CSS -->
    <link rel="stylesheet" href="~/assets/css/date-picker.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
</head>
<body>
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-14">
        <div class="container">
            <div class="page-title-content">
                <h2>Tuition fees</h2>

                <ul>
                    <li>
                        <a href="index">
                            Home
                        </a>
                    </li>

                    <li class="active">Tuition fees</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- End Tuition Fees Area -->
    <div class="kc-elm kc-css-756912 kc_col-sm-12 kc_column kc_col-sm-12">
        <div class="kc-col-container">
            <div class="kc-elm kc-css-149830" style="height: 20px; clear: both; width:100%;"></div><div class="kc-elm kc-css-646819 kc_accordion_wrapper">
                <div class="kc-elm kc-css-719559 kc_accordion_section group  kc-section-active">
                    <h3 class="kc_accordion_header ui-accordion-header ui-state-active"><span class="ui-accordion-header-icon ui-icon"></span><a href="#academic-fee-for-the-b-tech-students-to-be-admitted-during-the-session-2023-24" data-prevent="scroll"><i class=""></i> ACADEMIC FEE FOR THE B. TECH STUDENTS TO BE ADMITTED DURING THE SESSION 2023-24</a></h3><div class="kc_accordion_content ui-accordion-content kc_clearfix" style="display: block;">
                        <div class="kc-panel-body">
                            <div class="kc-elm kc-css-163232 kc-title-wrap ">

                                <h3 class="kc_title">B.Tech 1st Year</h3>
                            </div>
                            <div class="kc-elm kc-css-557402 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td width="319"><strong>Particulars</strong></td>
                                            <td width="153"><strong>Amount</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="319">Registration Fees</td>
                                            <td width="153">1500.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Tuition &amp; Development Fees</td>
                                            <td width="153">111256.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Exam &amp; Enrollment Fees*</td>
                                            <td width="153">–</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Medical Charges</td>
                                            <td width="153">1500.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Book Bank Fees</td>
                                            <td width="153">2600.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Activity Fee (One Time)</td>
                                            <td width="153">10000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Career Planning &amp; Placement (One Time)</td>
                                            <td width="153">10000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319">Caution Money (Refundable)</td>
                                            <td width="153">5000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="319"></td>
                                            <td width="153"><strong>141856.00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-575479 kc_text_block">
                                <p>
                                    *The Following payments will be paid by the students directly to the University as and when demanded:<br>a) Examination Fee Rs. 7500/- and Digital Library Fee Rs. 700/-.<br>b) The aforesaid fee are subject to change, if any, by the University.
                                </p>
                            </div><div class="kc-elm kc-css-783592 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td colspan="4" width="599"><strong>Hostel Fee for the students to be admitted during the session 2023-24</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="199"><strong>&nbsp;</strong></td>
                                            <td colspan="2" width="274"><strong>For Boys</strong></td>
                                            <td width="126"><strong>For Girls</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="199"><strong>&nbsp;</strong></td>
                                            <td width="144"><strong>&nbsp; Double Seater</strong></td>
                                            <td width="130">
                                                <p><strong>Triple Seater</strong></p>
                                                <p><strong>(If Available)</strong></p>
                                            </td>
                                            <td width="126"><strong>Triple Seater</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="199">Rent &amp; Mess Charges</td>
                                            <td width="144">120000</td>
                                            <td width="130">110000</td>
                                            <td width="126">110000</td>
                                        </tr>
                                        <tr>
                                            <td width="199">Security ( Refundable )</td>
                                            <td width="144">10000</td>
                                            <td width="130">10000</td>
                                            <td width="126">10000</td>
                                        </tr>
                                        <tr>
                                            <td width="199"><strong>Total</strong></td>
                                            <td width="144"><strong>130000</strong></td>
                                            <td width="130"><strong>120000</strong></td>
                                            <td width="126"><strong>120000</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-146900 kc_text_block">
                                <p>
                                    <strong>Note:</strong><br>1) The fee structure is subject to change by the State Govt. / Fee Fixation Committee.<br>2) Medical charges include Medical Insurance on hospitalization upto Rs.50,000/-, Accidental Insurance upto Rs.1,00,000/- and free OPD &amp; annual medical checkup at Dr. R.S.G. (Indo-German) Hospital.
                                </p>
                                <p><strong>Mode of Payment:</strong><br>1. By DD/PO in favour of “Ajay Kumar Garg Engineering College" payable at Ghaziabad or Delhi. Write your name and mobile number on reverse of the draft. It may be submitted by post or in person.<br>OR<br>2. Online transfer through NEFT/RTGS. Bank</p>
                                <p><strong>Account details of College for online payment are as under:</strong><br>Name of the Beneficiary : Ajay Kumar Garg Engineering College<br>Name of the Bank : Kotak Mahindra Bank Ltd., Navyug Market, Ghaziabad -201001 (U.P.)-INDIA<br>Bank Account No. : 508010250461 (Saving Bank Account)<br>RTGS/NEFT/IFSC Code : KKBK0005295</p>
                                <p>Note : This Fee Structure is a demand letter from the college and valid for Bank Loan.</p>
                            </div>
                        </div>
                    </div>
                </div><div class="kc-elm kc-css-274915 kc_accordion_section group ">
                    <h3 class="kc_accordion_header ui-accordion-header"><span class="ui-accordion-header-icon ui-icon"></span><a href="#academic-fee-for-the-mca-students-to-be-admitted-during-the-session-2023-24" data-prevent="scroll"><i class=""></i> ACADEMIC FEE FOR THE MCA STUDENTS TO BE ADMITTED  DURING THE SESSION 2023-24</a></h3><div class="kc_accordion_content ui-accordion-content kc_clearfix" style="">
                        <div class="kc-panel-body">
                            <div class="kc-elm kc-css-989947 kc-title-wrap ">

                                <h3 class="kc_title">MCA 1st Year</h3>
                            </div>
                            <div class="kc-elm kc-css-392855 kc_text_block">
                                <table class="table table-bordered table-striped" align="left" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="294"><strong>Particulars</strong></td>
                                            <td width="190"><strong>Amount</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="294">Registration Fees</td>
                                            <td width="190">1500.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Tuition &amp; Development Fees</td>
                                            <td width="190">111256.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Exam &amp; Enrollment Fees*</td>
                                            <td width="190">–</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Medical Charges</td>
                                            <td width="190">1500.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Book Bank Fees</td>
                                            <td width="190">3000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Activity Fee (One Time)</td>
                                            <td width="190">5000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">PDP Charges (One Time)</td>
                                            <td width="190">3500.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Career Planning &amp; Placement (One Time)</td>
                                            <td width="190">5000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">Caution Money (Refundable)</td>
                                            <td width="190">5000.00</td>
                                        </tr>
                                        <tr>
                                            <td width="294">&nbsp;</td>
                                            <td width="190"><strong>135756.00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-973847 kc_text_block">
                                <p>*The Following payments will be paid by the students directly to the University as and when demanded:<br>a) 	Examination Fee Rs. 7500/- and Digital Library Fee Rs.1000/-.<br>b) 	The aforesaid fee are subject to change, if any, by the University.</p>
                            </div><div class="kc-elm kc-css-297907 kc_text_block">
                                <table class="table table-bordered table-striped" align="left" width="100%">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" width="614"><strong>Hostel Fee for the students to be admitted during the session 2023-24</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="265"><strong><u>&nbsp;</u></strong></td>
                                            <td width="175"><strong>For Boys</strong></td>
                                            <td width="175"><strong>For Girls</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="265"><strong><u>&nbsp;</u></strong></td>
                                            <td width="175"><strong>Triple Seater</strong></td>
                                            <td width="175"><strong>Triple Seater</strong></td>
                                        </tr>
                                        <tr>
                                            <td width="265">Rent &amp; Mess Charges</td>
                                            <td width="175">110000</td>
                                            <td width="175">110000</td>
                                        </tr>
                                        <tr>
                                            <td width="265">Security ( Refundable )</td>
                                            <td width="175">10000</td>
                                            <td width="175">10000</td>
                                        </tr>
                                        <tr>
                                            <td width="265"><strong>Total</strong></td>
                                            <td width="175"><strong>120000</strong></td>
                                            <td width="175"><strong>120000</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-391034 kc_text_block">
                                <p><strong>Note:</strong><br>1) 	The fee structure is subject to change by the State Govt. / Fee Fixation Committee.<br>2) 	Medical charges include Medical Insurance on hospitalization upto Rs.50,000/-, Accidental Insurance upto Rs.1,00,000/- and free OPD &amp; annual medical checkup at Dr. R.S.G. (Indo-German) Hospital.</p>
                                <p><strong>Mode of Payment:</strong><br>1. 	By DD/PO in favour of “Ajay Kumar Garg Engineering College" payable at Ghaziabad or Delhi. Write your name and mobile number on reverse of the draft. It may be submitted by post or in person.<br>OR<br>2. 	Online transfer through NEFT/RTGS. Bank </p>
                                <p><strong>Account details of College for online payment are as under:</strong><br>Name of the Beneficiary  	: 	Ajay Kumar Garg Engineering College<br>Name of the Bank       	: 	Kotak Mahindra Bank Ltd., Navyug Market, Ghaziabad -201001 (U.P.)-INDIA<br>Bank Account No.           	: 	508010250461 (Saving Bank Account)<br>RTGS/NEFT/IFSC Code 	: 	KKBK0005295</p>
                                <p><strong>Note :</strong> This Fee Structure is a demand letter from the college and valid for Bank Loan.</p>
                            </div>
                        </div>
                    </div>
                </div><div class="kc-elm kc-css-303857 kc_accordion_section group ">
                    <h3 class="kc_accordion_header ui-accordion-header"><span class="ui-accordion-header-icon ui-icon"></span><a href="#academic-fee-for-the-m-tech-students-to-be-admitted-during-the-session-2023-24" data-prevent="scroll"><i class=""></i> ACADEMIC FEE FOR THE M.TECH STUDENTS TO BE ADMITTED  DURING THE SESSION 2023-24</a></h3><div class="kc_accordion_content ui-accordion-content kc_clearfix" style="">
                        <div class="kc-panel-body">
                            <div class="kc-elm kc-css-473050 kc-title-wrap ">

                                <h3 class="kc_title">M.TECH 1st Year (2023-24)</h3>
                            </div>
                            <div class="kc-elm kc-css-869390 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td width="223">
                                                <p><strong>Particulars</strong></p>
                                            </td>
                                            <td width="138">
                                                <p><strong>I SEM</strong></p>
                                            </td>
                                            <td width="120">
                                                <p><strong>II SEM</strong></p>
                                            </td>
                                            <td width="126">
                                                <p><strong>TOTAL</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                                <p>Registration Fees</p>
                                            </td>
                                            <td width="138">
                                                <p>1500.00</p>
                                            </td>
                                            <td width="120">
                                            </td>
                                            <td width="126">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                                <p>Tuition &amp; Development Fees</p>
                                            </td>
                                            <td width="138">
                                                <p>55628.00</p>
                                            </td>
                                            <td width="120">
                                                <p>55628.00</p>
                                            </td>
                                            <td width="126">
                                                <p>111256.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                                <p>Exam &amp; Enrollment Fees*</p>
                                            </td>
                                            <td width="138">
                                                <p>–</p>
                                            </td>
                                            <td width="120">
                                                <p>–&nbsp;</p>
                                            </td>
                                            <td width="126">
                                                <p>–</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                                <p>Medical Charges</p>
                                            </td>
                                            <td width="138">
                                                <p>1500.00</p>
                                            </td>
                                            <td width="120">
                                            </td>
                                            <td width="126">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                                <p>Caution Money (Refundable)</p>
                                            </td>
                                            <td width="138">
                                                <p>5000.00</p>
                                            </td>
                                            <td width="120">
                                            </td>
                                            <td width="126">
                                                <p>5000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="223">
                                            </td>
                                            <td width="138">
                                                <p><strong>63628.00</strong></p>
                                            </td>
                                            <td width="120">
                                                <p><strong>55628.00</strong></p>
                                            </td>
                                            <td width="126">
                                                <p><strong>119256.00</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-507847 kc_text_block">
                                <p>*The Following payments will be paid by the students directly to the University as and when demanded:<br>a) 	Examination Fee Rs. 10000/- and Digital Library Fee Rs.1000/-.<br>b) 	The aforesaid fee are subject to change, if any, by the University.</p>
                            </div><div class="kc-elm kc-css-542986 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td colspan="5" width="615">
                                                <p><strong>Hostel Fee for the students to be admitted during the session 2023-24</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="162">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td colspan="2" width="227">
                                                <p><strong>For Boys</strong></p>
                                            </td>
                                            <td colspan="2" width="227">
                                                <p><strong>For Girls</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="162">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>Single Seater</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>Triple Seater</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>Double Seater</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>Triple Seater</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="162">
                                                <p>Rent &amp; Mess Charges</p>
                                            </td>
                                            <td width="113">
                                                <p>130000</p>
                                            </td>
                                            <td width="113">
                                                <p>110000</p>
                                            </td>
                                            <td width="113">
                                                <p>120000</p>
                                            </td>
                                            <td width="113">
                                                <p>110000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="162">
                                                <p>Security (Refundable )</p>
                                            </td>
                                            <td width="113">
                                                <p>10000</p>
                                            </td>
                                            <td width="113">
                                                <p>10000</p>
                                            </td>
                                            <td width="113">
                                                <p>10000</p>
                                            </td>
                                            <td width="113">
                                                <p>10000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="162">
                                                <p><strong>Total</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>140000</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>120000</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>130000</strong></p>
                                            </td>
                                            <td width="113">
                                                <p><strong>120000</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-378870 kc_text_block">
                                <p><strong>Note:</strong><br>1) 	The fee structure is subject to change by the State Govt. / Fee Fixation Committee.<br>2) 	Medical charges include Medical Insurance on hospitalization upto Rs.50,000/-, Accidental Insurance upto Rs.1,00,000/- and free OPD &amp; annual medical checkup at Dr. R.S.G. (Indo-German) Hospital.<br>3) 	Fee is payable semester-wise.<br>4)      (a)        Scholarship equivalent to 25% of tuition fee (Approx. Rs. 25,000) for candidates securing<br>                      65% (60% for AKGEC Alumni) or above aggregate marks in B.Tech<br>         (b) 	Scholarship equivalent to 50% of tuition fee (Approx. Rs. 50,000) for candidates securing 70%  (65% for AKGEC Alumni) or above aggregate marks in B.Tech.<br>         (c) 	Scholarship equivalent to 75% tuition fee (Approx. Rs. 75,000) for candidates securing 75% (70% for AKGEC Alumni) or above aggregate marks in B.Tech.<br>         (d)        Scholarship equivalent to 100% tuition fee (Approx. Rs. 1,00,000) for candidates securing 80%<br>                     (75% for AKGEC Alumni) or above aggregate marks in B.Tech.</p>
                                <p><strong>Mode of Payment:</strong><br>1. 	By DD/PO in favour of “Ajay Kumar Garg Engineering College" payable at Ghaziabad or Delhi. Write your name and mobile number on reverse of the draft. It may be submitted by post or in person.<br>OR<br>2. 	Online transfer through NEFT/RTGS. Bank<br><strong><br>Account details of College for online payment are as under:</strong><br>Name of the Beneficiary  	: 	Ajay Kumar Garg Engineering College<br>Name of the Bank       	: 	Kotak Mahindra Bank Ltd., Navyug Market, Ghaziabad -201001 (U.P.)-INDIA<br>Bank Account No.           	: 	508010250461 (Saving Bank Account)<br>RTGS/NEFT/IFSC Code 	: 	KKBK0005295</p>
                                <p>Note : This Fee Structure is a demand letter from the college and valid for Bank Loan.</p>
                            </div>
                        </div>
                    </div>
                </div><div class="kc-elm kc-css-23556 kc_accordion_section group ">
                    <h3 class="kc_accordion_header ui-accordion-header"><span class="ui-accordion-header-icon ui-icon"></span><a href="#academic-fee-for-the-b-tech-students-to-be-admitted-during-the-session-2023-24-under-fee-waiver-scheme" data-prevent="scroll"><i class=""></i> ACADEMIC FEE FOR THE B. TECH STUDENTS TO BE ADMITTED  DURING THE SESSION 2023-24 UNDER FEE WAIVER SCHEME</a></h3><div class="kc_accordion_content ui-accordion-content kc_clearfix" style="">
                        <div class="kc-panel-body">
                            <div class="kc-elm kc-css-252942 kc-title-wrap ">

                                <h3 class="kc_title">B.Tech 1st Year</h3>
                            </div>
                            <div class="kc-elm kc-css-3994 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td width="319">
                                                <p><strong>Particulars</strong></p>
                                            </td>
                                            <td width="153">
                                                <p><strong>Amount</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Registration Fees</p>
                                            </td>
                                            <td width="153">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Development Fees</p>
                                            </td>
                                            <td width="153">
                                                <p>10114.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Exam &amp; Enrollment Fees*</p>
                                            </td>
                                            <td width="153">
                                                <p>–</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Medical Charges</p>
                                            </td>
                                            <td width="153">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Book Bank Fees</p>
                                            </td>
                                            <td width="153">
                                                <p>2600.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Activity Fee (One Time)</p>
                                            </td>
                                            <td width="153">
                                                <p>10000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Career Planning &amp; Placement (One Time)</p>
                                            </td>
                                            <td width="153">
                                                <p>10000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Caution Money (Refundable)</p>
                                            </td>
                                            <td width="153">
                                                <p>5000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="153">
                                                <p><strong>40714.00</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-237590 kc_text_block">
                                <p>*The Following payments will be paid by the students directly to the University as and when demanded:<br>a) Examination Fee Rs. 7500/- and Digital Library Fee Rs. 700/-.<br>b) The aforesaid fee are subject to change, if any, by the University.</p>
                            </div><div class="kc-elm kc-css-129102 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td colspan="4" width="599">
                                                <p><strong>Hostel Fee for the students to be admitted during the session 2023-24</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td colspan="2" width="274">
                                                <p><strong>For Boys</strong></p>
                                            </td>
                                            <td width="126">
                                                <p><strong>For Girls</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td width="144">
                                                <p><strong>&nbsp; Double Seater</strong></p>
                                            </td>
                                            <td width="130">
                                                <p><strong>Triple Seater</strong></p>
                                                <p><strong>(If Available)</strong></p>
                                            </td>
                                            <td width="126">
                                                <p><strong>Triple Seater</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p>Rent &amp; Mess Charges</p>
                                            </td>
                                            <td width="144">
                                                <p>120000</p>
                                            </td>
                                            <td width="130">
                                                <p>110000</p>
                                            </td>
                                            <td width="126">
                                                <p>110000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p>Security ( Refundable )</p>
                                            </td>
                                            <td width="144">
                                                <p>10000</p>
                                            </td>
                                            <td width="130">
                                                <p>10000</p>
                                            </td>
                                            <td width="126">
                                                <p>10000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>Total</strong></p>
                                            </td>
                                            <td width="144">
                                                <p><strong>130000</strong></p>
                                            </td>
                                            <td width="130">
                                                <p><strong>120000</strong></p>
                                            </td>
                                            <td width="126">
                                                <p><strong>120000</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                            </div><div class="kc-elm kc-css-185385 kc_text_block">
                                <p>Note:<br>1) 	The fee structure is subject to change by the State Govt. / Fee Fixation Committee.<br>2) 	Medical charges include Medical Insurance on hospitalization upto Rs.50,000/-, Accidental Insurance upto Rs.1,00,000/- and free OPD &amp; annual medical checkup at Dr. R.S.G. (Indo-German) Hospital.</p>
                                <p><strong>Mode of Payment:</strong><br>1. 	By DD/PO in favour of “Ajay Kumar Garg Engineering College" payable at Ghaziabad or Delhi. Write your name and mobile number on reverse of the draft. It may be submitted by post or in person.<br>OR<br>2. 	Online transfer through NEFT/RTGS. Bank<br><strong><br>Account details of College for online payment are as under:</strong><br>Name of the Beneficiary  	: 	Ajay Kumar Garg Engineering College<br>Name of the Bank       	: 	Kotak Mahindra Bank Ltd., Navyug Market, Ghaziabad -201001 (U.P.)-INDIA<br>Bank Account No.           	: 	508010250461 (Saving Bank Account)<br>RTGS/NEFT/IFSC Code 	: 	KKBK0005295</p>
                                <p>Note : This Fee Structure is a demand letter from the college and valid for Bank Loan. </p>
                            </div>
                        </div>
                    </div>
                </div><div class="kc-elm kc-css-53096 kc_accordion_section group ">
                    <h3 class="kc_accordion_header ui-accordion-header"><span class="ui-accordion-header-icon ui-icon"></span><a href="#academic-fee-for-the-b-tech-students-to-be-admitted-during-the-session-2023-24-lateral-entry" data-prevent="scroll"><i class=""></i> ACADEMIC FEE FOR THE B. TECH STUDENTS TO BE ADMITTED  DURING THE SESSION 2023-24 (Lateral Entry)</a></h3><div class="kc_accordion_content ui-accordion-content kc_clearfix" style="">
                        <div class="kc-panel-body">
                            <div class="kc-elm kc-css-53064 kc-title-wrap ">

                                <h3 class="kc_title">B.Tech IInd Year (Lateral Entry)</h3>
                            </div>
                            <div class="kc-elm kc-css-732844 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                    <tbody>
                                        <tr>
                                            <td width="319">
                                                <p><strong>Particulars</strong></p>
                                            </td>
                                            <td width="153">
                                                <p><strong>Amount</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Registration Fees</p>
                                            </td>
                                            <td width="153">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Tuition &amp; Development Fees</p>
                                            </td>
                                            <td width="153">
                                                <p>111256.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Exam &amp; Enrollment Fees*</p>
                                            </td>
                                            <td width="153">
                                                <p>–</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Medical Charges</p>
                                            </td>
                                            <td width="153">
                                                <p>1500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Book Bank Fees**</p>
                                            </td>
                                            <td width="153">
                                                <p>–</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>PDP Charges</p>
                                            </td>
                                            <td width="153">
                                                <p>3500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Activity Fee (One Time)</p>
                                            </td>
                                            <td width="153">
                                                <p>7500.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Career Planning &amp; Placement (One Time)</p>
                                            </td>
                                            <td width="153">
                                                <p>10000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>Caution Money (Refundable)</p>
                                            </td>
                                            <td width="153">
                                                <p>5000.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="319">
                                                <p>&nbsp;</p>
                                            </td>
                                            <td width="153">
                                                <p><strong>140256.00</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-634748 kc_text_block">
                                <p>
                                    *The Following payments will be paid by the students directly to the University as and when demanded:<br>
                                    a) Examination Fee Rs. 7500/- and Digital Library Fee Rs. 700/-.
                                </p>
                                <p>
                                    ** Book Bank Fees Differs Coursewise as follows:<br>
                                    1. Civil Engineering                                        	Rs 2500/-<br>
                                    2. Electronics &amp; Communication Engineering           Rs 2200/-<br>
                                    3. Information &amp; Technology			Rs 2000/-<br>
                                    4. Mechanical/ Electrical &amp; Electronics	               Rs 1900/-<br>
                                    5. Rest of courses                                          	Rs 1800/-
                                </p>
                            </div><div class="kc-elm kc-css-760772 kc_text_block">
                                <table class="table table-bordered table-striped" width="100%" align="left">
                                </table><table width="599">
                                    <tbody>
                                        <tr>
                                            <td colspan="4" width="599">
                                                <p><strong>Hostel Fee for the students to be admitted during the session 2023-24</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td colspan="2" width="303">
                                                <p><strong>For Boys</strong></p>
                                            </td>
                                            <td width="98">
                                                <p><strong>For Girls</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>&nbsp;</strong></p>
                                            </td>
                                            <td width="114">
                                                <p><strong>&nbsp; Double Seater</strong></p>
                                            </td>
                                            <td width="189">
                                                <p><strong>Triple Seater (If Available)</strong></p>
                                            </td>
                                            <td width="98">
                                                <p><strong>Triple Seater</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p>Rent &amp; Mess Charges</p>
                                            </td>
                                            <td width="114">
                                                <p>120000</p>
                                            </td>
                                            <td width="189">
                                                <p>110000</p>
                                            </td>
                                            <td width="98">
                                                <p>110000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p>Security ( Refundable )</p>
                                            </td>
                                            <td width="114">
                                                <p>10000</p>
                                            </td>
                                            <td width="189">
                                                <p>10000</p>
                                            </td>
                                            <td width="98">
                                                <p>10000</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="199">
                                                <p><strong>Total</strong></p>
                                            </td>
                                            <td width="114">
                                                <p><strong>130000</strong></p>
                                            </td>
                                            <td width="189">
                                                <p><strong>120000</strong></p>
                                            </td>
                                            <td width="98">
                                                <p><strong>120000</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="kc-elm kc-css-814393 kc_text_block">
                                <p>
                                    <strong>Note:</strong><br>
                                    1) The fee structure is subject to change by the State Govt. / Fee Fixation Committee.<br>
                                    2) Medical charges include Medical Insurance on hospitalization upto Rs.50,000/-, Accidental Insurance upto Rs.1,00,000/- and free OPD &amp; annual medical checkup at Dr. R.S.G. (Indo-German) Hospital.
                                </p>
                                <p>
                                    <strong>Mode of Payment:</strong><br>
                                    1. By DD/PO in favour of “Ajay Kumar Garg Engineering College" payable at Ghaziabad or Delhi. Write your name and mobile number on reverse of the draft. It may be submitted by post or in person.<br>
                                    OR<br>
                                    2. Online transfer through NEFT/RTGS. Bank<br>
                                    <strong>
                                        <br>
                                        Account details of College for online payment are as under:
                                    </strong><br>
                                    Name of the Beneficiary : Ajay Kumar Garg Engineering College<br>
                                    Name of the Bank : Kotak Mahindra Bank Ltd., Navyug Market, Ghaziabad -201001 (U.P.)-INDIA<br>
                                    Bank Account No. : 508010250461 (Saving Bank Account)<br>
                                    RTGS/NEFT/IFSC Code : KKBK0005295
                                </p>
                                <p>Note: This Fee Structure is a demand letter from the college and valid for Bank Loan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Tuition Fees Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- Jquery Min JS -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="~/assets/js/meanmenu.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Wow Min JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Appear Min JS -->
    <script src="~/assets/js/appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Jarallax Min JS -->
    <script src="~/assets/js/jarallax.min.js"></script>
    <!-- Bootstrap Datepicker Min JS -->
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="~/assets/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/custom.js"></script>
</body>

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:04 GMT -->
</html>


