@{
    ViewBag.Title = "Professors";
    Layout = "~/Views/Shared/CollegLayout.cshtml";
}

<!doctype html>
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/unco/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:03 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Remixicon CSS -->
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Date Picker Min CSS -->
    <link rel="stylesheet" href="~/assets/css/date-picker.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
</head>

<body>
    <!-- Start Page Title Area -->
    <div class="page-title-area bg-1">
        <div class="container">
            <div class="page-title-content">
                <h2>Management</h2>

                <ul>
                    <li>
                        <a href="index.cshtml">
                            Home
                        </a>
                    </li>

                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Stat About Area -->
    <section class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="about-img-two mr-15">
                        <img class="fpp" src="https://www.akgec.ac.in/wp-content/uploads/2019/05/director-1.jpg" alt="Image">

                        <div class="about-shape">
                            <img src="https://www.akgec.ac.in/wp-content/uploads/2019/05/director-1.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="about-content ml-15">
                <span>
                    Director General
                </span>
                <h5>Dr R.K.Agarwal</h5>

                <p>
                    Dr. R.K. Agarwal has an exceptionally brilliant academic background with B.Tech from IIT Kanpur, M.S. from CIT, Cranfield, UK and PhD from IISc Bangalore. During his illustrious career of nearly three decades in the Indian Air Force and Defence Research & Development Organization (DRDO).

                    He has held various key appointments including Chief Engineering Officer of an Operational Base, Director (Engg) at Air HQ and Project Director at Centre for Airborne Systems. His vast managerial, administrative, research and academic experience includes teaching assignments at Air Force Technical College and nine years of pioneering R&D work on the prestigious AWACS project in DRDO. He has also been a member of the Aeronautical Research & Development Board (ARDB) panel for approval and review of sponsored research projects at various centres of Excellence established at IITs and CSIR Laboratories.
                </p>
            </div>
        </div>
    </section>


    <section class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="about-img-two mr-15">
                        <img src="https://www.akgec.ac.in/wp-content/uploads/2019/06/Chopra.jpg" alt="Image">

                        <div class="about-shape">
                            <img src="https://www.akgec.ac.in/wp-content/uploads/2019/06/Chopra.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="about-content ml-15">
                <span>
                    Director
                </span>
                <h5>Prof. (Dr.) P. K. Chopra</h5>

                <p>BE, M.Sc, M.Tech & Ph.D</p>

                <p class="fontpro">
                    Gp. Capt. (Dr.) Pradeep Kumar Chopra (R),VSM entered the field of education in the year 2004 after 24 years of exemplary service in the technical branch of the Indian Air Force. He earned his Bachelors degree in Engineering (Electronics) from Delhi College of Engineering in the year 1979 and Masters in Technology from IIT Delhi in the year 1985. He also graduated from the prestigious Defence Services Staff College, Wellington and earned Masters degree in Defence Studies in the year 1993 from Madras University. While he was in the Indian Air Force he was part of, and headed, a number of important technical projects. For his exemplary services he was awarded “Vishist Seva Medal” by the President of India for engineering skills of highest order in the year 1993. He took voluntary retirement from the IAF in the year 2004 and entered the field of education. He has done his Ph.D in the field of ‘Electronics & Communication Engineering’ from the prestigious G.G.S.I.P University, New Delhi. His areas of specialisation are Radar and Satellite Communication. He is Fellow of Institution of Electronics & Telecommunication Engineers, New Delhi. He is an expert of the National Board of Accreditation (NBA) in new system of outcome based education under Washington accord for Tier-I and Tier-II by virtue of which he inspects Engineering colleges for NBA accreditation for UG/PG Engineering courses as a specialist member of NBA accreditation team. He is also nominated by AICTE as Margdarshak to mentor institutes to achieve NBA accreditation.
                </p>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Team Area -->
    <section class="team-area-three ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Our Management</h2>
                <p style="padding-bottom: 80px;"></p>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">


                        <div class="team-content">

                            <div class="team-name">
                                <h3>
                                    Sh. Ashok Pal
                                </h3>
                                <span>Chairman</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Sh. D. P. Garg</h3>
                                <span>Vice Chairman</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Sh. Rakesh Garg</h3>
                                <span>
                                    Secretary
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Sh. A.N. Gupta</h3>
                                <span>Joint Secretary</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">


                        <div class="team-content">


                            <div class="team-name">
                                <h3>Sh. Vinay Garg</h3>
                                <span>Treasurer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Sh. S.K. Gupta</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Prof. S.K. Kak</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Sh. I.C. Agarwal</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Dr. P.K. Chopra</h3>
                                <span>Member</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-team-member">

                        <div class="team-content">

                            <div class="team-name">
                                <h3>Dr. R.K. Agarwal</h3>
                                <span>Director General & Convener</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- Jquery Min JS -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="assets/js/meanmenu.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Wow Min JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Appear Min JS -->
    <script src="assets/js/appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- Jarallax Min JS -->
    <script src="assets/js/jarallax.min.js"></script>
    <!-- Bootstrap Datepicker Min JS -->
    <script src="assets/js/bootstrap-datepicker.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script src="assets/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="assets/js/custom.js"></script>
</body>

<!-- Mirrored from templates.envytheme.com/unco/default/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Jul 2023 10:33:07 GMT -->
</html>
